<div class="navbar">
  <a [routerLink]="['dashboard']" class="title"><span>CodeNote</span></a>

  <div class="actions">
    <a [routerLink]="['create']" class="settings-btn">
      <i class="fa-solid fa-pen-to-square"></i>
    </a>
    <form
      class="search-box"
      #searchForm="ngForm"
      (ngSubmit)="searchNote(searchForm)"
    >
      <span class="icon">🔍</span>
      <input
        type="text"
        placeholder="Search by title, content, or tags..."
        name="term"
        [(ngModel)]="term"
      />
    </form>
    @if(userService.isLoggedIn()){
    <button class="settings-btn"><i class="fa-solid fa-user"></i></button>
    }@else {
    <button class="settings-btn" (click)="userService.logoutUser()">
      <i class="fa-solid fa-power-off"></i>
    </button>
    }
  </div>
</div>
