<div class="card" (click)="showNote(note?.id)">
  <h2 class="title">{{ note?.title }}</h2>
  <div class="tags">
    @for(tag of note?.tags; track tag){
    <span class="tag {{ tag }}">{{ tag }}</span>
    }
  </div>
  <p class="date">{{ note?.createdAt }}</p>
  <div>
    <div class="footer">
      <div class="archive">
        <small>{{ checked ? "Unarchive" : "Archive" }}</small>
        <p-toggleswitch
          [(ngModel)]="checked"
          (onChange)="archiveNote(note?.id)"
        />
      </div>
      <div class="actions">
        <button (click)="showEditNote(note?.id)" class="edit">edit</button>
        <button (click)="deleteNote(note?.id)" class="delete">delete</button>
      </div>
    </div>
  </div>
</div>
