<div class="note-container">
  <form class="note-content" [formGroup]="addNoteForm" (ngSubmit)="saveNote()">
    <h2 class="new-post">New Note</h2>
    <input
      type="text"
      class="title-input"
      placeholder="Enter a title..."
      formControlName="title"
    />
    @if(addNoteForm.get('title')?.invalid && addNoteForm.get('title')?.touched){
    <small *ngIf="addNoteForm.get('title')?.errors?.['required']"
      >Title is required</small
    >
    }

    <div class="tags-section">
      <label for="tags">Tags</label>
      <input
        id="tags"
        type="text"
        placeholder="e.g. Work, Planning"
        formControlName="tags"
      />
    </div>

    <div class="last-edited">
      <label>Last edited</label>
      <span>Not yet saved</span>
    </div>

    <textarea
      class="note-content"
      placeholder="Start typing your note here..."
      formControlName="content"
    ></textarea>
    @if(addNoteForm.get('content')?.invalid &&
    addNoteForm.get('content')?.touched){
    <small *ngIf="addNoteForm.get('content')?.errors?.['required']"
      >Content is required</small
    >
    }
    <div class="actions">
      <button class="save" type="submit" [disabled]="!addNoteForm.valid">
        {{ isLoading ? "Saving..." : "Save Note" }}
      </button>
      <button class="cancel" (click)="cancelAddPost()">Cancel</button>
    </div>
  </form>
</div>
