<div class="modal">
  <div class="modal-dialog">
    <div class="modal-header">
      <i class="fa-solid fa-trash"></i>
      <h2>Delete Note</h2>
    </div>
    <div class="modal-body">
      <small>
        Are you sure you want to permanently delete this note?<br />
        This action cannot be undone.
      </small>
    </div>
    <div class="modal-footer">
      <button class="btn cancel" (click)="cancelDelete()">Cancel</button>
      <button class="btn delete" (click)="deleteNote()">Delete Note</button>
    </div>
  </div>
</div>
