/* You can add global styles to this file, and also import other style files */
$primary-color: #4a90e2;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Define SCSS variables
$light-background-color: #ffffff;
$light-text-color: #232530;

$dark-background-color: #232530;
$dark-text-color: #ffffff;

// Light mode (default)
:root {
  --background-color: #{$light-background-color};
  --text-color: #{$light-text-color};
}

// Dark mode overrides
.dark-mode {
  --background-color: #{$dark-background-color};
  --text-color: #{$dark-text-color};
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body.sans-serif {
  font-family: sans-serif;
}

body.serif {
  font-family: serif;
}

body.monospace {
  font-family: monospace;
}
